@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a asp-area="" asp-controller="Requests" asp-action="Index">building Web apps with ASP.NET Core</a>.</p>
    <p>User Id : e4f32fd2-eb76-4a79-a298-6409a5d58fd6</p>
</div>
